@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#progress {
    height: 5px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgb(44, 160, 255);
    width: 100%;
    scale: 0 1;
    transform-origin: left;

    animation: scroll-watcher linear;
    animation-timeline: scroll(y);
}

@keyframes scroll-watcher {
    to { scale: 1 1;}
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding:0 5% ;
    position: absolute;
    width: 100%;
    z-index: 100;
}

header h1 {
    font-size: 40px;
    color: white;
}

header nav {
    display: flex;
    gap: 30px;
}

header nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 99px;
    color: white;
}

header nav a.active {
    background: #5247B9;
}

header nav a:hover {
    background: #5247B9;
}

header nav a:hover > a:not(:hover) {
    background: none;
}

.home {
    display: flexbox;
    height: 205dvh;
    background: linear-gradient(to top, #9b59b6 , #ddb0f7, #e0affc , #9b59b6);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.home2 {
    display: flex;
    height: 100px;
    background: linear-gradient(to top, #9b59b6 30%,  #e0affc);
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.home img {
    position: absolute;
    pointer-events: none;
}

.home .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
    text-shadow: 0 px 0 px 4 px rgba(0, 0, 0, 0.25);
}

.home .chara {
    position: absolute;
    align-items: center;
    width: 600px;
    height: auto;
    top: 8%;
    left: 35%;
    transition: transform 0.01s ease;
}

.home2 .chara1 {
    position: absolute;
    align-items: center;
    width: 850px; 
    height: auto;
    top: 28%;
    left: 55%;
    transition: transform 0.3s ease;
}

.about {
    padding: 50px;
    background: #3B3291;
    color: white;
    position: relative;
    z-index: 100;
}

.about h1 {
    font-size: 40px;
}
