/* Font untuk website */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* =================================================================== */

/* Style css untuk navigasi bar */
#progress {
    height: 5px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgb(44, 160, 255);
    width: 100%;
    scale: 0 1;
    transform-origin: left;

    animation: scroll-watcher linear;
    animation-timeline: scroll(y);
}

@keyframes scroll-watcher {
    to { scale: 1 1;}
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding:0 5% ;
    position: absolute;
    width: 100%;
    z-index: 100;
}

header h1 {
    font-size: 40px;
    color: white;
}

header nav {
    gap: 30px;
}

header ul {
    display: flex;
    list-style-type: none;
} 

header nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 99px;
    color: white;
}

header nav a.active {
    background: #5247B9;
}

header nav a:hover {
    background: #5247B9;
}

header nav a:hover > a:not(:hover) {
    background: none;
}

/* =================================================================== */
/* Menu website pertama Parallax */

.main {
    overflow: hidden;
}

.landing {
    height: 105dvh;
    position: relative;
}

.parallax {
    transition: 0.45s cubic-bezier(.2,.49,.32,.99);
}

 .bg {
    position: absolute;
    width: 2500px;
    top: calc(50%);
    left: calc(50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1;
}

 .g1 {
    position: absolute;
    width: 2300px;
    top: calc(50%);
    left: calc(46.5%);
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 2  ;
}

 .g2 {
    position: absolute;
    width: 2300px;
    top: calc(50%);
    left: calc(50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 3  ;
}

.judul1 {
    font-size: 80px;
    font-weight: 300;
    text-transform: uppercase;
    z-index: 4;
    color: rgb(211, 208, 208);
    position: absolute;
    text-align: center;
    top: calc(37%);
    left: calc(50%);
    transform: translate(-50%, -50%);
}

.judul2 {
    font-size: 110px;
    font-weight: 600;
    line-height: 50px;
    text-transform: uppercase;
    z-index: 4;
    color: rgb(194, 193, 193);
    position: absolute;
    text-align: center;
    top: calc(45%);
    left: calc(50%);
    transform: translate(-50%, -50%);
}

.g3 {
    position: absolute;
    width: 2300px;
    top: calc(50%);
    left: calc(50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 4  ;
}

.g4 {
    position: absolute;
    width: 2500px;
    height: 1600px;
    top: calc(37%);
    left: calc(50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 5  ;
}

.g5 {
    position: absolute;
    width: 2400px;
    top: calc(50%);
    left: calc(50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 6 ;
}

.g7 {
    position: absolute;
    width: 2350px;
    
    top: calc(50%);
    left: calc(50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 8  ;
}

.g8 {
    position: absolute;
    width: 2100px;
    height: 1300px;
    top: calc(45%);
    left: calc(50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9  ;
}

.girl {
    position: absolute;
    width: 2100px;
    top: calc(50%);
    left: calc(50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 11  ;
}

.border {
    position: absolute;
    height: 18%;
    width: 100%;
    z-index: 12;
    top: 91%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* =================================================================== */
/* Bagian Perkenalan diri about me*/

.perkenalan {
    height: 140dvh;
    background: #000000;
    display: flexbox;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.text1 {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 7dvh;
    left: 17%;
    top: 5%;
    position: absolute;
    
}

.diri {
    font-size: 2dvh;
    
}

.text2 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 45%;
    top: 15%;
    text-align: justify;
    padding-right: 30dvh;
}

.text3 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 45%;
    top: 28%;
    text-align: justify;
    padding-right: 30dvh;
}

.me {
    position: absolute;
    width: 22%;
    top: 13%;
    left: 18%;
}

.pengalaman {
    position: absolute;
    top: 67.5%;
    left: 46.5%;
}

.histori {
    color: white;
    font-size: 2dvh;
}

.line {
    position: absolute;
    width: 20%;
    height: 30%;
    top: 65.3%;
    left: 50%;
}

.circle {
    position: absolute;
    width: 20%;
    height: 27%;
    top: 65%;
    left: 50%;
}

.circle1 {
    position: absolute;
    width: 20%;
    height: 27%;
    top: 67%;
    left: 50%;
}

.circle2 {
    position: absolute;
    width: 20%;
    height: 27%;
    top: 69%;
    left: 50%;
}

.circle3 {
    position: absolute;
    width: 20%;
    height: 27%;
    top: 71%;
    left: 50%;
}

.circle4 {
    position: absolute;
    width: 20%;
    height: 27%;
    top: 73%;
    left: 50%;
}

.tahun1 {
    position: absolute;
    top: 73.5%;
    left: 48%;
}

.tahun2 {
    position: absolute;
    top: 75.5%;
    left: 54.4%;
}

.tahun3 {
    position: absolute;
    top: 77.5%;
    left: 48%;
}

.tahun4 {
    position: absolute;
    top: 79.5%;
    left: 54.4%;
}

.tahun5 {
    position: absolute;
    top: 81.5%;
    left: 48%;
}

.p1 {
    position: absolute;
    top: 73.4%;
    left: 25%;
}

.p2 {
    position: absolute;
    top: 75.4%;
    left: 58.8%;
}

.p3 {
    position: absolute;
    top: 77.4%;
    left: 25%;
}

.p4 {
    position: absolute;
    top: 79.4%;
    left: 58.8%;
}

.p5 {
    position: absolute;
    top: 81.4%;
    left: 25%;
}

/* =================================================================== */
/* Bagian tambahan*/
/*
.home {
    display: flexbox;
    height: 107dvh;
    background: #02a1bd;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.home img {
    position: absolute;
    pointer-events: none;
}

.welcome {
    word-spacing: -3px;
    line-height: 170%;
    color: white;
    font-size: 45px;
    position: absolute;
    top: 25%;
    left: 15%;
}

.welcome1 {
    color: rgb(42, 97, 201);
    line-height: 170%;
    font-size: 45.5px;
    position: absolute;
    top: 24.4%;
    left: 14.7%;
}

.welcome2 {
        color: white;
        font-size: 40px;
        position: absolute;
        top: 70%;
        left: 15%;
}

.welcome3 {
    color: rgb(42, 97, 201);
    font-size: 40.5px;
    position: absolute;
    top: 70.2%;
    left: 15.3%;
}

.welcome4 {
    color: rgb(42, 97, 201);
    font-size: 40px;
    position: absolute;
    top: 76.4%;
    left: 19.3%;
}

.welcome5 {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 76%;
    left: 19%;
}

.chara {
    position: absolute;
    align-items: center;
    width: 1000px;
    height: auto;
    top: 10%;
    left: 34%;
    transition: transform 0.01s ease;
}

.chara1 {
    position: absolute;
    align-items: center;
    width: 1100px;
    height: auto;
    top: 10%;
    left: 34%;
    transition: transform 0.3s ease;
}

*/


/* =================================================================== */
/* Bagian website untuk menunjukkan foto */


.text4 {
    color: white;
    position: relative;
    left: 3%;
    font-size: 70px;
    font-weight: 500;
    text-transform: uppercase;
}

.photo {
    height: 90dvh;
    width: auto;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
}

.image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
    display: inline-block;
    max-width: 100%; 
    height: auto; 
    margin-right: 10px;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 420%);
    width: 94%;
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap;
}

